player-connection-mode=Listen
player-connection-guid=423916329
player-connection-debug=0
player-connection-project-name=MyDemo
player-connection-ip=192.168.159.1
player-connection-ip=192.168.174.1
player-connection-ip=192.168.29.131
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
